doctype html
html
    head
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/united/bootstrap.min.css", rel="stylesheet")
        link(rel='stylesheet', href='/stylesheets/main.css')
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.min.js")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react-with-addons.min.js")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/JSXTransformer.js")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
        title prjs
    body
        div.container
            block content
        footer.footer
            div.container
                a(href="https://github.com/mtgto/prjs") GitHub