doctype html
html
    head
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/superhero/bootstrap.min.css", rel="stylesheet")
        link(rel='stylesheet', href='/stylesheets/main.css')
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
        title= title
    body
        div.container
            block content
